<h1>Sartu</h1>

<%= form_for(:session, :html => {:class => 'form-horizontal'}, url: login_path) do |f| %>
    <%= flash[:danger] %> 
	<div class="form-group">
        <%= f.label :email, "E-posta helbidea", class: 'col-sm-offset-3 col-sm-2 control-label' %>
        <div class="col-sm-3">
            <%= f.email_field :email, class: 'form-control' %> 
        </div>
    </div>

    <div class="form-group">
        <%= f.label :password, "Pasahitza", class: 'col-sm-offset-3 col-sm-2 control-label' %>
        <div class="col-sm-3">
            <%= f.password_field :password, class: 'form-control' %> 
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <%= f.submit "Sartu", class: 'btn btn-default' %>
        </div>
    </div>
<% end %>

<p>Berria zara? <%= link_to "Eman izena orain!", signup_path %></p>
