<table>
	<tr>
		<td>
			<%= form_for(@votecomm, url: vote_comm_path) do |f| %>	
				<%= f.hidden_field :positive, :value => 1 %>
				<%= f.hidden_field :comment_id, :value => @comment_id %>
				<%= image_submit_tag("upvote_comm.png", style: "height: 20px") %>	
			<% end %>
		</td>
		<td>&nbsp;&nbsp;&nbsp;</td>
		<td>
			<%= form_for(@votecomm, url: vote_comm_path) do |f| %>	
				<%= f.hidden_field :positive, :value => 0 %>
				<%= f.hidden_field :comment_id, :value => @comment_id %>
				<%= image_submit_tag("downvote_comm.png", style: "height: 20px") %>	
			<% end %>
		</td>
	</tr>
</table>



