<h1>SIGN UP</h1>

<%= form_for(@user, url: signup_path) do |f| %>
<%= f.label :nickname, "Nickname-a" %><br/>
<%= f.text_field :nickname %> <br/>
<br/>
<%= f.label :email, "E-posta helbidea" %><br/>
<%= f.email_field :email %> <br/>
<br/>
<%= f.label :password, "Pasahitza" %><br/>
<%= f.password_field :password %> <br/>
<br/>
<%= f.label :password_confirmation, "Pasahitza errepikatu" %><br/>
<%= f.password_field :password_confirmation %> <br/>
<br/>
<%= f.label :profile_pic, "Profileko irudia hautatu" %><br/>
<%= f.file_field :profile_pic %><br/>	
<br/>
<%= f.submit "Kontua sortu" %>
<% end %>

