<h1>Izenpetu</h1>

<%= form_for(@user, :html => {:class => 'form-horizontal'}, url: signup_path) do |f| %>

	<%= render 'shared/error_messages', object: @user %>
    <div class="form-group"> 
        <%= f.label :nickname, "Nickname-a", class: 'col-sm-offset-3 col-sm-2 control-label' %>
        <div class="col-sm-3">
            <%= f.text_field :nickname, class: 'form-control', :required => true %>
        </div>
    </div>
	<div class="form-group">
        <%= f.label :email, "Eposta helbidea", class: 'col-sm-offset-3 col-sm-2 control-label' %>
        <div class="col-sm-3">
            <%= f.email_field :email, class: 'form-control', :required => true %> 
        </div>
    </div>
	
	<div class="form-group">
        <%= f.label :password, "Pasahitza", class: 'col-sm-offset-3 col-sm-2 control-label' %>
        <div class="col-sm-3">
            <%= f.password_field :password, class: 'form-control', :required => true %> 
        </div>
    </div>
	
	<div class="form-group">
        <%= f.label :password_confirmation, "Pasahitza errepikatu", class: 'col-sm-offset-3 col-sm-2 control-label' %>
        <div class="col-sm-3">
            <%= f.password_field :password_confirmation, class: 'form-control', :required => true %> 
        </div>
    </div>
	
	<div class="form-group">
        <%= f.label :profile_pic, "Profileko irudia hautatu", class: 'col-sm-offset-3 col-sm-2 control-label' %>
        <div class="col-sm-3">
            <%= f.file_field :profile_pic %>	
        </div>
    </div>
	
	<%= f.hidden_field :admin, :value => 0 %>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <%= f.submit "Kontua sortu", class: 'btn btn-default' %>
        </div>
      </div>
<% end %>