<table>
	<tr>
		<td>
			<%= image_tag(current_user.profile_pic) %>
		</td>
		<td>
			<ul>
				<li>
					<%= link_to "Profileko argazkia aldatu", '/users/'+current_user.id.to_s+'/photo' %>
				</li>
				<li>
					<%= link_to "Pasahitza aldatu", '/users/'+current_user.id.to_s+'/pass' %>	
				</li>
				<li>
					<%= link_to "Erabiltzailea ezabatu", '/users/'+current_user.id.to_s+'/destroy' %>	
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
			<center>
			<%= current_user.nickname %><br/>
			<%= current_user.email%>
			</center>
		</td>
		<td></td>
	</tr>
</table>
<br/>
<%= link_to "Irudi berria igo", '/images/uploadphoto' %>
<br/>
<%= render @images %>
