<table>
	<tr>
		<td>
			<%= image_tag(@user.profile_pic) %>
		</td>
		<% if (logged_in?) && (@user.id == current_user.id) %>
		<td>
			<ul>
				<li>
					<%= link_to "Profileko argazkia aldatu", '/users/'+@user.id.to_s+'/photo' %>
				</li>
				<li>
					<%= link_to "Pasahitza aldatu", '/users/'+@user.id.to_s+'/pass' %>	
				</li>
				<li>
					<%= link_to "Erabiltzailea ezabatu", '/users/'+@user.id.to_s+'/destroy' %>	
				</li>
			</ul>
		</td>
		<% end %>
	</tr>
	<tr>
		<td>
			<center>
			<%= @user.nickname %><br/>
			<%= @user.email%>
			</center>
		</td>
		<td></td>
	</tr>
</table>
<br/>
<% if logged_in? && @user.id == current_user.id %>
<%= link_to "Irudi berria igo", '/images/uploadphoto' %>
<br/>
<% end %>
<%= render @images %>
