<table>
	<tr>
		<td rowspan="2">		
		<% if @user.profile_pic?%>          
        <%= image_tag(@user.profile_pic, :style => "max-width:100%; height:auto") %>
        <% else %>
        <%= image_tag("nouser.gif")%>
        <% end %>
		</td>
		<td>
			<center>
			<span style="font-size: 20pt"><%= @user.nickname %></span><br/>
			<span style="font-style: italic"><%=link_to @user.email, "mailto:"+@user.email %></span>
			</center>
		</td>
	</tr>
	<tr>	
	<% if (logged_in?) && (@user.id == current_user.id || current_user.admin == 1) %>		
		<td>
			<ul>
				<li>
					<%= link_to "Profileko argazkia aldatu", '/users/'+@user.id.to_s+'/photo' %>
				</li>
				<li>
					<%= link_to "Pasahitza aldatu", '/users/'+@user.id.to_s+'/pass' %>	
				</li>
				<li>
					<%= link_to "Erabiltzailea ezabatu", '/users/'+@user.id.to_s+'/destroy' %>	
				</li>
			</ul>
		</td>		
	
	<% end %>	
	</tr>
</table>
<br/>
<% if logged_in? && (@user.id == current_user.id || current_user.admin == 1) %>
<%= link_to "Irudi berria igo", '/images/uploadphoto' %>
<br/>
<% end %>
<%= flash[:success] %> <br/>
<%= render @images %>
