<h1>Upload an image</h1>

<%= form_for(@img) do |f| %>

	 <%= render 'shared/error_messages', object: @img %>

	<%= f.label :title, "Izenburua" %><br/>
	<%= f.text_field :title %> <br/>
	<br/>
	<%= f.label :img, "Irudia hautatu" %><br/>
	<%= f.file_field :img %><br/>	
	<br/>
	<%= f.submit "Irudia igo" %>
<% end %>
