<!DOCTYPE html>
<html>
  <head>
    <title>GureLagunak</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'gl-icon.png' %>
  </head>

  <body>
    <center>
    <!--HEADER-->
    <table width="100%">
    <tr>
      <td>
        <%=link_to image_tag("gl-header.png", :alt => "Gure Lagunak"), "/" %>
      </td>
      <td style="text-align: right">
        <% if logged_in? %>
          <%= link_to image_tag(current_user.profile_pic), current_user %>
          <%= link_to current_user.nickname, current_user %><br/>
          <%= link_to "Log out", logout_path, method: :delete %>
        <% else %>
          <a href="signup">Sign Up</a><br/>
          <a href="login">Log In</a>
        <% end %>
      </td>
    </tr>
    </table>
    <!--/HEADER-->
    <%= yield %>
    </center>
  </body>
</html>
