<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GureLagunak</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'gl-icon.png' %>
  </head>

  <body>
      <div style="margin:15px"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                <%=link_to image_tag("gl-header.png", :alt => "Gure Lagunak", :width => "100%"), "/", :class => "img-responsive" %>
            </div>
            <div class="col-xs-3 text-right pull-right ">
              <% if logged_in? %>
                  <% if current_user.profile_pic?%>          
                    <%= link_to image_tag(current_user.profile_pic, :width => 40, :height => 40, :class => 'borobildu'), current_user %>
                  <% else %>
                    <%= link_to image_tag("nouser.gif", :width => 40, :height => 40, :class => 'borobildu'), current_user %>
                  <% end %>
                  <%= link_to current_user.nickname, current_user, :class =>'btn btn-default' %>
                  <%= link_to "Irten", logout_path, :class => 'btn btn-danger', method: :delete %>
                <% else %>
                  <a class="btn btn-info" href="/signup">Izenpetu</a>
                  <a class="btn btn-info" href="/login">Sartu</a>
                <% end %>
                &nbsp;  
            </div>
        </div>
        <center>
        <!--HEADER-->
        <span class="col-xs-12"><hr/></span>
        <!--/HEADER-->    
        <%= yield %>    
        <!--FOOTER-->
        <span class="col-xs-12"><hr/></span>
        <br/>
        <footer class="navbar-bottom">
            <div class="col-xs-3 pull-bottom">
             <%=link_to image_tag("gl-header.png", :alt => "Gure Lagunak", :height => "50px", :width => "100%"), "/" %>
            </div>
            <div class="col-xs-4 col-xs-offset-1 pull-center">
                <span class="text-muted">- J. Diez & J. Ferrero - 2017 © -</span>
            </div>
            <div class="col-xs-3 pull-right pull-bottom">
                <%= link_to image_tag("RubyonRails-logo.png", :height => "50px", :width => "100%"), "http://rubyonrails.org" %>
            </div>
        </footer>
        <!--/FOOTER-->
        </center>
    </div>
  </body>
</html>
